*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.19 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.inset-0 {
  inset: 0px;
}

.-bottom-\[40px\] {
  bottom: -40px;
}

.-bottom-\[60px\] {
  bottom: -60px;
}

.-left-\[100px\] {
  left: -100px;
}

.bottom-0 {
  bottom: 0px;
}

.bottom-\[30px\] {
  bottom: 30px;
}

.left-\[120px\] {
  left: 120px;
}

.left-\[204px\] {
  left: 204px;
}

.right-0 {
  right: 0px;
}

.right-\[18px\] {
  right: 18px;
}

.right-\[200px\] {
  right: 200px;
}

.right-\[20px\] {
  right: 20px;
}

.right-\[21px\] {
  right: 21px;
}

.right-\[40px\] {
  right: 40px;
}

.right-\[95px\] {
  right: 95px;
}

.start-0 {
  inset-inline-start: 0px;
}

.top-0 {
  top: 0px;
}

.top-\[20px\] {
  top: 20px;
}

.top-\[40px\] {
  top: 40px;
}

.top-\[80px\] {
  top: 80px;
}

.top-\[50px\] {
  top: 50px;
}

.top-\[30px\] {
  top: 30px;
}

.-z-10 {
  z-index: -10;
}

.-z-\[2\] {
  z-index: -2;
}

.-z-\[3\] {
  z-index: -3;
}

.z-10 {
  z-index: 10;
}

.z-20 {
  z-index: 20;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.-mb-\[50px\] {
  margin-bottom: -50px;
}

.-mt-\[10px\] {
  margin-top: -10px;
}

.mb-\[10px\] {
  margin-bottom: 10px;
}

.mb-\[20px\] {
  margin-bottom: 20px;
}

.mb-\[28px\] {
  margin-bottom: 28px;
}

.mb-\[70px\] {
  margin-bottom: 70px;
}

.ml-\[50px\] {
  margin-left: 50px;
}

.mr-\[12px\] {
  margin-right: 12px;
}

.mr-\[15px\] {
  margin-right: 15px;
}

.mt-\[105px\] {
  margin-top: 105px;
}

.mt-\[120px\] {
  margin-top: 120px;
}

.mt-\[130px\] {
  margin-top: 130px;
}

.mt-\[135px\] {
  margin-top: 135px;
}

.mt-\[13px\] {
  margin-top: 13px;
}

.mt-\[140px\] {
  margin-top: 140px;
}

.mt-\[190px\] {
  margin-top: 190px;
}

.mt-\[24px\] {
  margin-top: 24px;
}

.mt-\[25px\] {
  margin-top: 25px;
}

.mt-\[30px\] {
  margin-top: 30px;
}

.mt-\[31px\] {
  margin-top: 31px;
}

.mt-\[40px\] {
  margin-top: 40px;
}

.mt-\[45px\] {
  margin-top: 45px;
}

.mt-\[50px\] {
  margin-top: 50px;
}

.mt-\[5px\] {
  margin-top: 5px;
}

.mt-\[60px\] {
  margin-top: 60px;
}

.mt-\[70px\] {
  margin-top: 70px;
}

.mt-\[71px\] {
  margin-top: 71px;
}

.mt-\[90px\] {
  margin-top: 90px;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.h-2 {
  height: 0.5rem;
}

.h-\[1000px\] {
  height: 1000px;
}

.h-\[103px\] {
  height: 103px;
}

.h-\[1100px\] {
  height: 1100px;
}

.h-\[1150px\] {
  height: 1150px;
}

.h-\[1200px\] {
  height: 1200px;
}

.h-\[120px\] {
  height: 120px;
}

.h-\[1400px\] {
  height: 1400px;
}

.h-\[150px\] {
  height: 150px;
}

.h-\[15px\] {
  height: 15px;
}

.h-\[1600px\] {
  height: 1600px;
}

.h-\[280px\] {
  height: 280px;
}

.h-\[35px\] {
  height: 35px;
}

.h-\[36\.31px\] {
  height: 36.31px;
}

.h-\[400px\] {
  height: 400px;
}

.h-\[406px\] {
  height: 406px;
}

.h-\[410px\] {
  height: 410px;
}

.h-\[445px\] {
  height: 445px;
}

.h-\[44px\] {
  height: 44px;
}

.h-\[450px\] {
  height: 450px;
}

.h-\[480px\] {
  height: 480px;
}

.h-\[4px\] {
  height: 4px;
}

.h-\[500px\] {
  height: 500px;
}

.h-\[509px\] {
  height: 509px;
}

.h-\[50px\] {
  height: 50px;
}

.h-\[530px\] {
  height: 530px;
}

.h-\[550px\] {
  height: 550px;
}

.h-\[553px\] {
  height: 553px;
}

.h-\[57px\] {
  height: 57px;
}

.h-\[590px\] {
  height: 590px;
}

.h-\[5px\] {
  height: 5px;
}

.h-\[600px\] {
  height: 600px;
}

.h-\[62px\] {
  height: 62px;
}

.h-\[700px\] {
  height: 700px;
}

.h-\[780px\] {
  height: 780px;
}

.h-\[78px\] {
  height: 78px;
}

.h-\[80px\] {
  height: 80px;
}

.h-\[820px\] {
  height: 820px;
}

.h-\[830px\] {
  height: 830px;
}

.h-\[900px\] {
  height: 900px;
}

.h-\[950px\] {
  height: 950px;
}

.h-full {
  height: 100%;
}

.h-\[420px\] {
  height: 420px;
}

.h-\[430px\] {
  height: 430px;
}

.w-\[1000px\] {
  width: 1000px;
}

.w-\[110\.64px\] {
  width: 110.64px;
}

.w-\[1100px\] {
  width: 1100px;
}

.w-\[120px\] {
  width: 120px;
}

.w-\[1350px\] {
  width: 1350px;
}

.w-\[140px\] {
  width: 140px;
}

.w-\[150px\] {
  width: 150px;
}

.w-\[15px\] {
  width: 15px;
}

.w-\[255px\] {
  width: 255px;
}

.w-\[264px\] {
  width: 264px;
}

.w-\[267px\] {
  width: 267px;
}

.w-\[300px\] {
  width: 300px;
}

.w-\[305px\] {
  width: 305px;
}

.w-\[310px\] {
  width: 310px;
}

.w-\[350px\] {
  width: 350px;
}

.w-\[400px\] {
  width: 400px;
}

.w-\[40px\] {
  width: 40px;
}

.w-\[486px\] {
  width: 486px;
}

.w-\[50\%\] {
  width: 50%;
}

.w-\[50px\] {
  width: 50px;
}

.w-\[529px\] {
  width: 529px;
}

.w-\[540px\] {
  width: 540px;
}

.w-\[550px\] {
  width: 550px;
}

.w-\[555px\] {
  width: 555px;
}

.w-\[580px\] {
  width: 580px;
}

.w-\[594px\] {
  width: 594px;
}

.w-\[60\%\] {
  width: 60%;
}

.w-\[607px\] {
  width: 607px;
}

.w-\[610px\] {
  width: 610px;
}

.w-\[640px\] {
  width: 640px;
}

.w-\[642px\] {
  width: 642px;
}

.w-\[700px\] {
  width: 700px;
}

.w-\[710px\] {
  width: 710px;
}

.w-\[730px\] {
  width: 730px;
}

.w-\[780px\] {
  width: 780px;
}

.w-\[80\%\] {
  width: 80%;
}

.w-\[800px\] {
  width: 800px;
}

.w-\[80px\] {
  width: 80px;
}

.w-\[90\%\] {
  width: 90%;
}

.w-full {
  width: 100%;
}

.max-w-7xl {
  max-width: 80rem;
}

.max-w-\[420px\] {
  max-width: 420px;
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.content-center {
  align-content: center;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.gap-\[100px\] {
  gap: 100px;
}

.gap-\[10px\] {
  gap: 10px;
}

.gap-\[110px\] {
  gap: 110px;
}

.gap-\[12px\] {
  gap: 12px;
}

.gap-\[15px\] {
  gap: 15px;
}

.gap-\[18px\] {
  gap: 18px;
}

.gap-\[1px\] {
  gap: 1px;
}

.gap-\[200px\] {
  gap: 200px;
}

.gap-\[20px\] {
  gap: 20px;
}

.gap-\[21px\] {
  gap: 21px;
}

.gap-\[25px\] {
  gap: 25px;
}

.gap-\[30px\] {
  gap: 30px;
}

.gap-\[31px\] {
  gap: 31px;
}

.gap-\[32px\] {
  gap: 32px;
}

.gap-\[35px\] {
  gap: 35px;
}

.gap-\[40px\] {
  gap: 40px;
}

.gap-\[4px\] {
  gap: 4px;
}

.gap-\[50px\] {
  gap: 50px;
}

.gap-\[5px\] {
  gap: 5px;
}

.gap-\[60px\] {
  gap: 60px;
}

.gap-\[7px\] {
  gap: 7px;
}

.gap-\[80px\] {
  gap: 80px;
}

.gap-x-8 {
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}

.gap-y-3 {
  row-gap: 0.75rem;
}

.self-center {
  align-self: center;
}

.rounded-\[15px\] {
  border-radius: 15px;
}

.rounded-\[25px\] {
  border-radius: 25px;
}

.rounded-\[2px\] {
  border-radius: 2px;
}

.rounded-\[50\%\] {
  border-radius: 50%;
}

.rounded-\[5px\] {
  border-radius: 5px;
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.rounded-md {
  border-radius: 0.375rem;
}

.rounded-l-\[277px\] {
  border-top-left-radius: 277px;
  border-bottom-left-radius: 277px;
}

.rounded-t-\[15px\] {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.rounded-t-none {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.border {
  border-width: 1px;
}

.border-x-0 {
  border-left-width: 0px;
  border-right-width: 0px;
}

.border-b {
  border-bottom-width: 1px;
}

.border-l-\[2px\] {
  border-left-width: 2px;
}

.border-r {
  border-right-width: 1px;
}

.border-r-\[2px\] {
  border-right-width: 2px;
}

.border-\[\#E4E4E4\] {
  --tw-border-opacity: 1;
  border-color: rgb(228 228 228 / var(--tw-border-opacity, 1));
}

.border-\[\#F1F1F1\] {
  --tw-border-opacity: 1;
  border-color: rgb(241 241 241 / var(--tw-border-opacity, 1));
}

.border-b-\[\#F9F9F9\] {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(249 249 249 / var(--tw-border-opacity, 1));
}

.border-b-fading-gray {
  border-bottom-color: rgba(255, 255, 255, 0.18);
}

.bg-\[\#14B9D5\] {
  --tw-bg-opacity: 1;
  background-color: rgb(20 185 213 / var(--tw-bg-opacity, 1));
}

.bg-\[\#434A54\] {
  --tw-bg-opacity: 1;
  background-color: rgb(67 74 84 / var(--tw-bg-opacity, 1));
}

.bg-\[\#5D5FEF\] {
  --tw-bg-opacity: 1;
  background-color: rgb(93 95 239 / var(--tw-bg-opacity, 1));
}

.bg-\[\#BA71DA\] {
  --tw-bg-opacity: 1;
  background-color: rgb(186 113 218 / var(--tw-bg-opacity, 1));
}

.bg-\[\#EFEFEF\] {
  --tw-bg-opacity: 1;
  background-color: rgb(239 239 239 / var(--tw-bg-opacity, 1));
}

.bg-\[\#F1F1F1\] {
  --tw-bg-opacity: 1;
  background-color: rgb(241 241 241 / var(--tw-bg-opacity, 1));
}

.bg-\[\#F2F2F2\] {
  --tw-bg-opacity: 1;
  background-color: rgb(242 242 242 / var(--tw-bg-opacity, 1));
}

.bg-\[\#F76570\] {
  --tw-bg-opacity: 1;
  background-color: rgb(247 101 112 / var(--tw-bg-opacity, 1));
}

.bg-\[\#F9F9F9\] {
  --tw-bg-opacity: 1;
  background-color: rgb(249 249 249 / var(--tw-bg-opacity, 1));
}

.bg-\[\#FFD205\] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 210 5 / var(--tw-bg-opacity, 1));
}

.bg-\[\#FFFFFF\] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity, 1));
}

.bg-darken {
  background-color: rgba(0, 0, 0, 0.32);
}

.bg-fading-red {
  --tw-bg-opacity: 1;
  background-color: rgb(247 101 112 / var(--tw-bg-opacity, 1));
}

.bg-main {
  --tw-bg-opacity: 1;
  background-color: rgb(93 95 239 / var(--tw-bg-opacity, 1));
}

.bg-more-dark {
  background-color: rgba(0, 0, 0, 0.5);
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.bg-adventure-hero-bg {
  background-image: url('img/bg/adventure-hero-bg.jpg');
}

.bg-africa {
  background-image: url('img/card/africa.jpg');
}

.bg-aside-next-adventure {
  background-image: url('img/aside-image-next-adventure.jpg');
}

.bg-athenes {
  background-image: url('img/card/athenes.jpg');
}

.bg-bangkok {
  background-image: url('img/card/bangkok.jpg');
}

.bg-chao-praya {
  background-image: url('img/card/chao-praya.jpg');
}

.bg-chiang-mai {
  background-image: url('img/card/chiang-mai.jpg');
}

.bg-city-walk-tour {
  background-image: url('img/more-info-card/city-walk-tour.png');
}

.bg-egpyt {
  background-image: url('img/card/egypt.jpg');
}

.bg-electric-bike {
  background-image: url('img/more-info-card/electric-bike.jpg');
}

.bg-footer {
  background-image: url('img/footer.jpg');
}

.bg-france {
  background-image: url('img/card/france.jpg');
}

.bg-gradient-to-l {
  background-image: linear-gradient(to left, var(--tw-gradient-stops));
}

.bg-gradient-to-tr {
  background-image: linear-gradient(to top right, var(--tw-gradient-stops));
}

.bg-greece {
  background-image: url('img/card/greece.jpg');
}

.bg-hero {
  background-image: url('img/bg/hero-bg.png');
}

.bg-nara {
  background-image: url('img/card/nara.jpg');
}

.bg-our-package {
  background-image: url('img/bg/our-package.jpg');
}

.bg-skyscraper-view {
  background-image: url('img/more-info-card/skyscraper-view.jpg');
}

.bg-youtube-mockup {
  background-image: url('img/bg/youtube-mockup.jpg');
}

.from-\[rgba\(0\2c 0\2c 0\2c 0\.63\)\] {
  --tw-gradient-from: rgba(0,0,0,0.63) var(--tw-gradient-from-position);
  --tw-gradient-to: rgba(0, 0, 0, 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.from-black {
  --tw-gradient-from: #000 var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(0 0 0 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.to-\[rgba\(67\2c 74\2c 84\2c 0\)\] {
  --tw-gradient-to: rgba(67,74,84,0) var(--tw-gradient-to-position);
}

.to-\[rgba\(67\2c 74\2c 84\2c 0\.12\)\] {
  --tw-gradient-to: rgba(67,74,84,0.12) var(--tw-gradient-to-position);
}

.bg-contain {
  background-size: contain;
}

.bg-cover {
  background-size: cover;
}

.bg-bottom {
  background-position: bottom;
}

.bg-center {
  background-position: center;
}

.bg-top {
  background-position: top;
}

.bg-no-repeat {
  background-repeat: no-repeat;
}

.p-\[30px\] {
  padding: 30px;
}

.p-\[34px\] {
  padding: 34px;
}

.p-\[40px\] {
  padding: 40px;
}

.p-\[42px\] {
  padding: 42px;
}

.p-\[50px\] {
  padding: 50px;
}

.px-7 {
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}

.px-\[105px\] {
  padding-left: 105px;
  padding-right: 105px;
}

.px-\[15px\] {
  padding-left: 15px;
  padding-right: 15px;
}

.px-\[20px\] {
  padding-left: 20px;
  padding-right: 20px;
}

.px-\[300px\] {
  padding-left: 300px;
  padding-right: 300px;
}

.px-\[38px\] {
  padding-left: 38px;
  padding-right: 38px;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-\[100px\] {
  padding-top: 100px;
  padding-bottom: 100px;
}

.py-\[10px\] {
  padding-top: 10px;
  padding-bottom: 10px;
}

.py-\[120px\] {
  padding-top: 120px;
  padding-bottom: 120px;
}

.py-\[20px\] {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-\[24px\] {
  padding-top: 24px;
  padding-bottom: 24px;
}

.py-\[30px\] {
  padding-top: 30px;
  padding-bottom: 30px;
}

.py-\[33px\] {
  padding-top: 33px;
  padding-bottom: 33px;
}

.py-\[35px\] {
  padding-top: 35px;
  padding-bottom: 35px;
}

.py-\[40px\] {
  padding-top: 40px;
  padding-bottom: 40px;
}

.py-\[5px\] {
  padding-top: 5px;
  padding-bottom: 5px;
}

.py-\[60px\] {
  padding-top: 60px;
  padding-bottom: 60px;
}

.py-\[70px\] {
  padding-top: 70px;
  padding-bottom: 70px;
}

.py-\[80px\] {
  padding-top: 80px;
  padding-bottom: 80px;
}

.pb-\[20px\] {
  padding-bottom: 20px;
}

.pb-\[24px\] {
  padding-bottom: 24px;
}

.pt-\[20px\] {
  padding-top: 20px;
}

.pt-\[30px\] {
  padding-top: 30px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.font-poppins {
  font-family: Poppins;
}

.font-reenie-beanie {
  font-family: Reenie Beanie;
}

.font-sans {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.text-\[100px\] {
  font-size: 100px;
}

.text-\[14px\] {
  font-size: 14px;
}

.text-\[15px\] {
  font-size: 15px;
}

.text-\[16px\] {
  font-size: 16px;
}

.text-\[20px\] {
  font-size: 20px;
}

.text-\[22px\] {
  font-size: 22px;
}

.text-\[25px\] {
  font-size: 25px;
}

.text-\[30px\] {
  font-size: 30px;
}

.text-\[31px\] {
  font-size: 31px;
}

.text-\[35px\] {
  font-size: 35px;
}

.text-\[50px\] {
  font-size: 50px;
}

.text-\[72px\] {
  font-size: 72px;
}

.text-\[80px\] {
  font-size: 80px;
}

.font-\[400\] {
  font-weight: 400;
}

.font-\[500\] {
  font-weight: 500;
}

.font-\[700\] {
  font-weight: 700;
}

.font-\[900\] {
  font-weight: 900;
}

.uppercase {
  text-transform: uppercase;
}

.leading-\[24px\] {
  line-height: 24px;
}

.-tracking-\[1px\] {
  letter-spacing: -1px;
}

.tracking-\[1px\] {
  letter-spacing: 1px;
}

.text-\[\#14B9D5\] {
  --tw-text-opacity: 1;
  color: rgb(20 185 213 / var(--tw-text-opacity, 1));
}

.text-\[\#17262F\] {
  --tw-text-opacity: 1;
  color: rgb(23 38 47 / var(--tw-text-opacity, 1));
}

.text-\[\#5D5FEF\] {
  --tw-text-opacity: 1;
  color: rgb(93 95 239 / var(--tw-text-opacity, 1));
}

.text-\[\#6E6E6E\] {
  --tw-text-opacity: 1;
  color: rgb(110 110 110 / var(--tw-text-opacity, 1));
}

.text-\[\#757575\] {
  --tw-text-opacity: 1;
  color: rgb(117 117 117 / var(--tw-text-opacity, 1));
}

.text-\[\#BA71DA\] {
  --tw-text-opacity: 1;
  color: rgb(186 113 218 / var(--tw-text-opacity, 1));
}

.text-\[\#F76570\] {
  --tw-text-opacity: 1;
  color: rgb(247 101 112 / var(--tw-text-opacity, 1));
}

.text-\[\#FFD205\] {
  --tw-text-opacity: 1;
  color: rgb(255 210 5 / var(--tw-text-opacity, 1));
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity, 1));
}

.text-fading-orange {
  --tw-text-opacity: 1;
  color: rgb(243 164 107 / var(--tw-text-opacity, 1));
}

.text-gray-400 {
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity, 1));
}

.text-hero-icon {
  --tw-text-opacity: 1;
  color: rgb(20 185 213 / var(--tw-text-opacity, 1));
}

.text-main {
  --tw-text-opacity: 1;
  color: rgb(93 95 239 / var(--tw-text-opacity, 1));
}

.text-main-gray {
  --tw-text-opacity: 1;
  color: rgb(110 110 110 / var(--tw-text-opacity, 1));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.line-through {
  text-decoration-line: line-through;
}

.opacity-20 {
  opacity: 0.2;
}

.opacity-75 {
  opacity: 0.75;
}

.shadow-md {
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-sm {
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-\[\#0000001A\] {
  --tw-shadow-color: #0000001A;
  --tw-shadow: var(--tw-shadow-colored);
}

.before\:absolute::before {
  content: var(--tw-content);
  position: absolute;
}

.before\:bottom-\[25px\]::before {
  content: var(--tw-content);
  bottom: 25px;
}

.before\:z-\[1\]::before {
  content: var(--tw-content);
  z-index: 1;
}

.before\:inline-block::before {
  content: var(--tw-content);
  display: inline-block;
}

.before\:h-\[8px\]::before {
  content: var(--tw-content);
  height: 8px;
}

.before\:w-\[392px\]::before {
  content: var(--tw-content);
  width: 392px;
}

.before\:border-4::before {
  content: var(--tw-content);
  border-width: 4px;
}

.before\:border-\[\#FFD205\]::before {
  content: var(--tw-content);
  --tw-border-opacity: 1;
  border-color: rgb(255 210 5 / var(--tw-border-opacity, 1));
}

.after\:mt-1::after {
  content: var(--tw-content);
  margin-top: 0.25rem;
}

.after\:inline-block::after {
  content: var(--tw-content);
  display: inline-block;
}

.after\:h-\[10px\]::after {
  content: var(--tw-content);
  height: 10px;
}

.after\:w-\[2px\]::after {
  content: var(--tw-content);
  width: 2px;
}

.after\:overflow-hidden::after {
  content: var(--tw-content);
  overflow: hidden;
}

.after\:rounded-sm::after {
  content: var(--tw-content);
  border-radius: 0.125rem;
}

.after\:border-b-4::after {
  content: var(--tw-content);
  border-bottom-width: 4px;
}

.after\:border-t-4::after {
  content: var(--tw-content);
  border-top-width: 4px;
}

.after\:border-dashed::after {
  content: var(--tw-content);
  border-style: dashed;
}

.after\:border-\[\#5D5FEF\]::after {
  content: var(--tw-content);
  --tw-border-opacity: 1;
  border-color: rgb(93 95 239 / var(--tw-border-opacity, 1));
}

.after\:content-\[\'\'\]::after {
  --tw-content: '';
  content: var(--tw-content);
}